@font-face {
	font-family: 'Conv_myfont';
	src: url('myfont.eot');
	src: local('☺'), url('myfont.woff') format('woff'), url('myfont.ttf') format('truetype'), url('myfont.svg') format('svg');
}

@font-face {
	font-family: 'Starcraft Normal';
	src: url('Starcraft Normal.eot');
	src: local('☺'), url('Starcraft Normal.woff') format('woff'), url('Starcraft Normal.ttf') format('truetype'), url('Starcraft Normal.svg') format('svg');
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);

.main-nav.transparent{
	height: 100px;
}

.itelflogo{
	width: 100px;
	height: 70px;
	opacity: 0.7;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

.itelflogo:hover{
	opacity: 1;
}

.scitlogo{
	width: 400px;
	height: 120px;
}

.sprout_it{
	width: 600px;
}

.zeit_logo{
	font-size: 5em;
	font-weight: bold;
	text-shadow:  4px 4px #e67e22;
	font-family: 'Starcraft Normal', cursive;
}

.main{
	margin-top: 50px;
}

.sprouit{
	text-align: center;
}

.lauch{
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	font-family:'Conv_myfont',Sans-Serif;
}

.lauch1{
	color: #fff;
	font-size: 2em;
	font-family:'Conv_myfont',Sans-Serif;
}

.countdown > li{
	margin: 0px;
}

.countdown-number .font-alt{
	font-family:'Conv_myfont',Sans-Serif;
}

.about{
	color: #fff;
	/*height: 800px;*/
}

.about_itelf{
	margin-top: -50px;
}

.title_logo{
	width: 300px;
	height: 100px;
}

.quote > blockquote{
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

.tab_itelflogo{
	width: 300px;
	height: 100px;
}

.tab_sprout{
	margin-top: 50px;
}


blockquote p{
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

.section-text{
	color: #fff;
	font-size: 16px;
	font-family: 'Pacifico', cursive;
}

blockquote footer{
	color: #fff;
}

.about_1{
	color: #021f3d;
}

.quote_1 > blockquote,
.author{
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

.text_itelf{
	color: #fff;
}

.social{
	background: #3b5998;
}

.social_link{
	color: #fff;
}

.social_link:hover,
.social_link:active{
	color: #fff;
}

.fa-facebook-official{
	opacity: 0.6;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

.fa-facebook-official:hover{
	opacity: 1;
}

.footer{
	background-color: #ecf0f1;
}

.title_foot{
	margin-top: -80px;
}

.foot_logo{
	width: 300px;
	height: 200px;
	margin-top: -120px;
}

.footer-social-links .fb{
	color: #3b5998;
}

.footer-social-links .bird{
	color: #4099FF;
}

.footer-social-links .you{
	color: #c4302b;
}

@media only screen and (max-width: 700px){

	.scitlogo{
		width: 300px;
	}

	.sprout_it{
		width: 300px;
	}

	.zeit_logo{
		font-size: 2.5em;
	}

	.down{
		display: none;
	}

	.about_itelf{
		margin-top: -30px;
	}

	.title_logo{
		width: 250px;
		height: 150px;
	}


	.tab_sprout{
		margin-top: 40px;
	}

	.title_foot{
		margin-top: -40px;
	}

	.foot_logo{
		width: 200px;
		height: 75px;
		margin-top: -40px;
	}
}

@media only screen and (max-width: 450px){

	.tab_sprout{
		margin-top: 10px;
	}
	.title_logo{
		width: 200px;
		height: 100px;
	}

	.foot_logo{
		width: 200px;
		height: 100px;
		margin-top: -70px;
	}

	.title_foot{
		margin-top: -50px;
	}
}