@font-face {
	font-family: 'Conv_myfont';
	src: url('myfont.eot');
	src: local('☺'), url('myfont.woff') format('woff'), url('myfont.ttf') format('truetype'), url('myfont.svg') format('svg');
}

@font-face {
	font-family: 'Starcraft Normal';
	src: url('Starcraft Normal.eot');
	src: local('☺'), url('Starcraft Normal.woff') format('woff'), url('Starcraft Normal.ttf') format('truetype'), url('Starcraft Normal.svg') format('svg');
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* loader page */

.preloader {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border: 0.4rem solid #000000;
  opacity: 0.75;
  border-radius: 100%;
}
.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.2rem 0 0 -0.2rem;
  border-bottom: 0.4rem solid #000000;
  opacity: 0.75;
  border-radius: 0.6rem;
  -webkit-transform-origin: 0.2rem center;
}
.preloader:before {
/* hour hand */
  width: 30%;
  -webkit-animation: hour 10s linear infinite;
}
.preloader:after {
/* minute hand */
  width: 40%;
  background-color: #2085e6;
  -webkit-animation: minute 1s linear infinite;
}
@-webkit-keyframes hour {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes minute {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* for demo purposes only — not required */
.preloader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* ======================================================= */



.main-nav.transparent{
	height: 100px;
}

.itelflogo{
	width: 100px;
	height: 70px;
	opacity: 0.7;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

.itelflogo:hover{
	opacity: 1;
}

.scitlogo{
	width: 220px;
	height: 120px;
	margin-top: 10px;
}

.sprout_it{
	width: 500px;
	padding-bottom: 0px;
}

.zeit_logo{
	width: 600px;
}

.main{
	margin-top: 50px;
}

.sprouit{
	text-align: center;
}

.lauch{
	color: #fff;
	font-size: 3em;
}

.lauch1{
	color: #fff;
	font-size: 2em;
}

.countdown > li{
	margin: 0px;
}

.countdown-number .font-alt{
}

.about_section{
	margin-top: -50px;
}

.about{
	color: #fff;
	font-size: 4em;
	/*height: 800px;*/
}

.about_itelf{
	margin-top: -50px;
}

.title_logo{
	width: 300px;
	height: 100px;
}

.quote > blockquote{
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

.tab_itelflogo{
	width: 300px;
	height: 100px;
}

.tab_sprout{
	margin-top: 50px;
}


blockquote p{
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

.section-text{
	color: #fff;
	font-size: 16px;
	text-align: justify;
	font-family: 'Pacifico', cursive;
}

blockquote footer{
	color: #fff;
}

.about_1{
	color: #021f3d;
}

.quote_1 > blockquote,
.author{
	color: #fff;
	font-family: 'Indie Flower', cursive;
}

.text_itelf{
	color: #fff;
}

.social_fb{
	background: #3b5998;
}

.social_twitter{
	background: #1da1f2;
}

.social_link{
	color: #fff;
	text-decoration: none;
}

.social_link:hover,
.social_link:active{
	color: #fff;
	text-decoration: none;
}

.fa-facebook-official{
	opacity: 0.6;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

.fa-facebook-official:hover{
	opacity: 1;
}

.footer{
	background-color: #ecf0f1;
}

.title_foot{
	margin-top: -80px;
}

.foot_logo{
	width: 300px;
	height: 200px;
	margin-top: -120px;
}

.footer-social-links .fb{
	color: #3b5998;
}

.footer-social-links .bird{
	color: #4099FF;
}

.footer-social-links .you{
	color: #c4302b;
}

.about_main{
	margin-bottom: -10px;
	height: 100%;
}

.about_main_quote > blockquote p{
	color: #000;
}

.about_main_text{
	color: #000;
	font-family: Dosis, arial, sans-serif;
}

.count-wrapper{
	border: 2px solid #000;
	border-left: none;
	border-right: none;  
}


.about_main .about_zeit{
	font-size: 2.5em;
}

.events_page{
	color: #000;
	font-family: Dosis, arial, sans-serif;
}


@media only screen and (max-width: 700px){

	.head{
		margin-top: 50px;
	}

	.inner-nav ul li.scit_nav{
		display: none;
	}
	
	.sprout_it{
		width: 300px;
	}

	.zeit_logo{
		font-size: 2.5em;
	}

	.down{
		display: none;
	}

	.about_itelf{
		margin-top: -30px;
	}

	.title_logo{
		width: 250px;
		height: 150px;
	}


	.tab_sprout{
		margin-top: 40px;
	}

	.title_foot{
		margin-top: -40px;
	}

	.foot_logo{
		width: 200px;
		height: 75px;
		margin-top: -40px;
	}

	.flag{
		margin-top: 50px;
	}
}

@media only screen and (max-width: 450px){

	.tab_sprout{
		margin-top: 10px;
	}
	.title_logo{
		width: 200px;
		height: 100px;
	}

	.foot_logo{
		width: 200px;
		height: 100px;
		margin-top: -70px;
	}

	.title_foot{
		margin-top: -50px;
	}
}

.tiny-section{
	width: 100%;
	display: block;	
	position: relative;
    overflow: hidden;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
    
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
	padding: 20px 0;
}
.darker{
	opacity:1;
}